:root {
  --font: "Jost", sans-serif;
  --product-size: 100px;
  --color-base: #000;
  --speed: 0.25s;
  --speed-half: calc(var(--speed) / 2);
}

html,
body {
  font-family: var(--font);
  outline-color: var(--color-base);
}

main {
  width: 1200px;
  max-width: 90%;
  margin: 0 auto;
}

h2,
h3,
h4 {
  font-weight: normal;
}

button {
  background: none;
  border: none;
  font-size: 14px;
  cursor: pointer;
  outline: none;
}

a {
  color: var(--color-base);
  text-decoration: none;
  font-family: var(--font);
}
