:root {
  --font: "Jost", sans-serif;
  --product-size: 100px;

  /* using the same colors anywhere in the app */
  /* storing them here to make it easy to change */
  --color-base: #1c272d;
  --color-red: #c63228;
  --speed: 0.25s;
}

html,
body {
  font-family: var(--font);
  outline-color: var(--color-base);
}

h2,
h3,
h4 {
  font-weight: normal;
}

button {
  background: none;
  border: none;
  font-size: 14px;
  cursor: pointer;
  outline: none;
}

button:active {
  color: var(--color-base);
}

a {
  color: var(--color-base);
  text-decoration: none;
  font-family: var(--font);
}
