.basket {
  position: absolute;
  display: flex;
  align-items: center;
  cursor: pointer;
  right: 0;
  padding-right: 40px;
  transition: transform var(--speed);
  transform-origin: center center;
  top: calc(50% - 20px);
}

.hidden {
  transform: translateX(100%);
}

.icon {
  width: 40px;
  height: 40px;
}

.value {
  font-size: 1.7em;
  padding-left: 1em;
}

@media all and (max-width: 800px) {
  .basket {
    padding-right: 5%;
  }
}

@media all and (max-width: 500px) {
  .basket {
    top: calc(50% - 16px);
  }
  .value {
    padding-left: 0.4em;
    font-size: 1.4em;
  }

  .icon {
    height: 32px;
    width: 32px;
  }
}
